In [13]:
# 1- Qual a média do preço de compra dos imóveis por nível?
# Nível 0 --> Preço entre R$ 0 e R$ 321950
# Nível 1 --> Preço entre R$ 321950 e R$ 450000
# Nível 2 --> Preço entre R$ 450000 e R$ 645000
# Nível 3 --> Acima de R$ 645000

import pandas as pd

data = pd.read_csv('datasets/kc_house_data.csv')

data['level'] = 'NA'


for i in range(len(data)):
    
    if (data.loc[i, 'price'] > 0) & (data.loc[i, 'price'] <= 321950):
        data.loc[i, 'level'] = 'Level 0'
        
    elif (data.loc[i, 'price'] > 321950) & (data.loc[i, 'price'] <= 450000):
         data.loc[i, 'level'] = 'Level 1'
            
    elif (data.loc[i, 'price'] > 450000) & (data.loc[i, 'price'] <= 645000):
         data.loc[i, 'level'] = 'Level 2'
            
    else:
        data.loc[i, 'level'] = 'Level 3'
        
by_price = data[['price', 'level']].groupby('level').mean().reset_index()
print(by_price)

     level          price
0  Level 0  251557.649889
1  Level 1  385688.681502
2  Level 2  539730.960007
3  Level 3  987540.224456

In [12]:
# 2- Qual a média do tamanho da sala de estar dos imóveis por size?
# size 0 --> Tamanho entre 0 e 1427 sqft
# size 1 --> Tamanho entre 1427 e 1910 sqft
# size 2 --> Tamanho entre 1910 e 2550 sqft
# size 3 --> Tamanho acima de R$ 2550 sqft

data['size_level'] = 'NA'

for i in range(len(data)):
    if (data.loc[i, 'sqft_living'] >= 0) & (data.loc[i, 'sqft_living'] < 1427):
        data.loc[i, 'size_level'] = 'size 0'
        
    elif (data.loc[i, 'sqft_living'] >= 1427) & (data.loc[i, 'sqft_living'] < 1910):
        data.loc[i, 'size_level'] = 'size 1'    

    elif (data.loc[i, 'sqft_living'] >= 1910) & (data.loc[i, 'sqft_living'] < 2550):
        data.loc[i, 'size_level'] = 'size 2' 
        
    else:
        data.loc[i, 'size_level'] = 'size 3'

by_size = data[['sqft_living', 'size_level']].groupby('size_level').mean().reset_index()
print(by_size)

  size_level  sqft_living
0     size 0  1123.776421
1     size 1  1661.198088
2     size 2  2202.700239
3     size 3  3318.988404

In [62]:
# 3 - Adcione as seguintes informações ao conjunto de dados original:
# Place ID: Identificação de localização
# OSM Type: Open Street Map type
# Country: Nome do País
# Country Code: Código do País

data = pd.read_csv('datasets/kc_house_data.csv')

data['place_id']     = 'NA'
data['osm_type']     = 'NA'
data['country']      = 'NA'
data['country_code'] = 'NA'

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapi_exercise")

# Make query

for i in range(10):
    query = str(data.loc[i, 'lat']) + ',' + str(data.loc[i, 'long'])
    
# API Request

    response = geolocator.reverse(query)    

# Populate Data

    if 'country_code' in response.raw['address']:
        data.loc[i, 'country_code'] = response.raw['address']['country_code']
    

    data.loc[i, 'place_id'] = response.raw['place_id']    


    data.loc[i, 'osm_type'] = response.raw['osm_type']  
    
    if 'country' in response.raw['address']:
        data.loc[i, 'country'] = response.raw['address']['country']  

data.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,place_id,osm_type,country,country_code
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,148348822,way,United States,us
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,149083775,way,United States,us
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,98028,47.7379,-122.233,2720,8062,76196034,node,United States,us
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,98136,47.5208,-122.393,1360,5000,145876576,way,United States,us
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,98074,47.6168,-122.045,1800,7503,294171046,way,United States,us
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,0,98053,47.6561,-122.005,4760,101930,159763472,way,United States,us
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,0,98003,47.3097,-122.327,2238,6819,221393802,way,United States,us
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,0,98198,47.4095,-122.315,1650,9711,221732259,way,United States,us
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,0,98146,47.5123,-122.337,1780,8113,222458584,way,United States,us
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,0,98038,47.3684,-122.031,2390,7570,210156012,way,United States,us